<div
  style="
    background-image: url('../../../assets/home/wave.svg');
    background-repeat: no-repeat;
    background-position: right;
  "
  class="h-[38rem]"
>
  <img
    class="absolute right-44 top-64"
    src="../../../assets/book/book.svg"
    alt=""
  />

  <p class="text-4xl ml-48 mt-8 inline-block">MYBOOK</p>

  <button
    (click)="homeClick()"
    class="ml-[50rem] font-bold text-white hover:opacity-80"
  >
    Home
  </button>
  <button
    (click)="BookClick()"
    class="ml-10 font-bold text-white hover:opacity-80"
  >
    Book
  </button>
  <button
    (click)="LoginClick()"
    class="bg-white ml-40 h-12 w-32 rounded-md text-2xl font-semibold"
  >
    Log out
  </button>

  <img
    class="inline-bloc ml-48 mt-28 mb-10"
    src="../../../assets/Headline (2).png"
    alt=""
  />
  <button
    (click)="addBookClick()"
    class="bg-yewhite text-white py-3 px-10 ml-48 rounded-xl font-semibold bg-orange-500 hover:opacity-80"
  >
    <span class="mr-4">+</span> Add New Book
  </button>
</div>

<!-- side bar -->
<div>
  <div class="border border-white grid grid-cols-5">
    <div class="col-span-1 w-full h-full">
      <aside
        class="flex flex-col w-64 h-screen px-5 py-2 overflow-y-auto bg-slate-200 border-r rtl:border-r-0 rtl:border-l"
      >
        <div class="flex flex-col justify-between flex-1 mt-6 h-full">
          <nav class="flex-1 -mx-3 space-y-3">
            <div class="relative mx-3">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="w-5 h-5 text-black" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>

              <input
                type="text"
                class="w-full py-1.5 pl-10 pr-4 text-slate-900 bg-white border rounded-md focus:border-white dark:focus:border-yellow-300 focus:ring-yellow-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                placeholder="Search Book"
              />
            </div>
            <p class="font-bold text-center">Book by Genre</p>
            <a
              class="flex items-center justify-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">All Genres</span>
            </a>

            <!-- 2nd -->
            <a
              class="flex items-center justify-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">Business</span>
            </a>

            <a
              class="flex items-center justify-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">Science</span>
            </a>

            <a
              class="flex items-center justify-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">Fiction</span>
            </a>

            <a
              class="flex items-center justify-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">Philosophy</span>
            </a>

            <a
              class="flex items-center justify-center px-3 py-2 transition-colors duration-300 transform rounded-lg hover:bg-white hover:text-yewhite"
            >
              <span class="mx-2 text-sm font-medium">Biography</span>
            </a>
          </nav>
        </div>
      </aside>
    </div>

    <!-- book part -->
    <ng-container>
      <div class="col-span-4">
        <!-- container card books -->
        <div class="h-full border border-slate-100 pt-16">
          <p class="text-4xl font-bold text-center -mt-10">This new story</p>

          <div class="grid grid-cols-2 justify-items-center items-center">
            <!-- card book -->
            <div
              *ngFor="let book of books; let i = index"
              class="col-span-1 p-10"
            >
              <a
                class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl"
              >
                <img
                  class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                  src="../../../assets/{{ book.image }}"
                  alt=""
                />
                <div class="flex flex-col justify-between p-4 leading-normal">
                  <p
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 line-clamp-1"
                  >
                    {{ book.title }}
                  </p>
                  <p class="font-semibold text-yellow-500">
                    {{ book.author }}
                  </p>
                  <p
                    class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-3"
                  >
                    {{ book.description }}
                  </p>

                  <div class="flex justify-between">
                    <button
                      (click)="getBookById(book.id)"
                      class="border border-yellow-400 text-yellow-400 px-5 py-3 rounded-md font-semibold hover:bg-yellow-400 hover:text-white"
                    >
                      View
                    </button>
                    <button
                      (click)="sendingRemainingBook(book)"
                      class="border border-blue-400 text-blue-400 px-5 py-3 rounded-md font-semibold hover:bg-blue-400 hover:text-white"
                    >
                      Edit
                    </button>
                    <button
                      (click)="deleteBookClick(book.id, i)"
                      class="border border-red-400 text-red-400 px-5 py-3 rounded-md font-semibold hover:bg-red-400 hover:text-white"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- <router-outlet *ngIf="!showChildRoute"></router-outlet> -->
  </div>
</div>
<app-popup-modal
  (dataEmitter)="receiveData($event)"
  *ngIf="showModal"
></app-popup-modal>
