<router-outlet></router-outlet>

<div
  style="
    background-image: url('../../../assets/header.svg');
    background-position: right;
  "
  class="h-[38rem] relative"
>

</div>

<button (click)="backToHome()" class="absolute top-0 ml-16 mt-16 w-44 z-50">
  <img src="../../../assets/icons8-back-50 (1).png" alt="">
</button>

<div class="flex justify-center items-center w-screen h-screen  absolute top-0  ">
	<!-- COMPONENT CODE -->
	<div class="container mx-auto my-4 px-4 lg:px-20 inline">

		<div class="w-full p-8 my-4 md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 ml-36 rounded-2xl shadow-2xl bg-slate-400  inline-block">
			<div class="flex text-center">
				<h1 class="font-bold uppercase text-5xl text-center ml-52 p-6">Add New Book</h1>
			</div>
			<div class="   mt-5">

                
        <div>
          <img formControlName="image" class="w-44 absolute ml-32 mt-4" src="../../../assets/image 19.png" alt="">

      </div>
                <form [formGroup]="bookForm"  (ngSubmit)="addNewBook()" >


                  <label class="ml-80 font-semibold" for="title">Title</label> <br>
                  <input formControlName="title" class="w-96 bg-gray-100 text-gray-900 mt-2 p-2 rounded-lg focus:outline-none focus:shadow-outline ml-80"
                      type="text" placeholder="Enter title" />
          
                      <label class="ml-80 font-semibold" for="">Author</label><br>
                      <input formControlName="author" class="w-96 bg-gray-100 text-gray-900 mt-2 p-2 rounded-lg focus:outline-none focus:shadow-outline ml-80"
                      type="text" placeholder="Enter Author Name" />
          
                      <label class="ml-80 font-semibold" for="">Category</label><br>
                     
          
                      <div class="relative mt-2 ">
                          <select formControlName="category" class="block appearance-none w-96 ml-80 bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded-lg shadow leading-tight focus:outline-none focus:border-blue-500 focus:ring text-gray-900 ">
                              <option class="text-gray-900 " disabled selected>Choose Category</option>
                            <option>Business</option>
                            <option>Science</option>
                            <option>Fiction</option>
                            <option>Philosophy</option>
          
                          </select>
                          <div class="pointer-events-none absolute inset-y-0 right-24 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                              <path d="M9.293 13.293a1 1 0 011.414 0L14 15.586V4a1 1 0 112 0v11.586l2.293-2.293a1 1 0 111.414 1.414l-4 4a1.003 1.003 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
                            </svg>
                          </div>
                        </div>

                        <p class="mt-10 font-bold">Description</p>
                        <div class="my-2 ">
                          <textarea  formControlName="description" placeholder="Message" class="w-full h-32 bg-gray-100 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline line-clamp-4"></textarea>
                        </div>
                        <div class="my-2 w-1/2 lg:w-1/4">
                          <button
                           class="uppercase text-sm font-bold tracking-wide bg-blue-900 text-gray-100 p-3 rounded-lg w-full 
                                      focus:outline-none focus:shadow-outline">
                            Create
                          </button>
                        </div>


                </form>

                       
              
              

        </div>
               
			</div>

		
    </div>

</div>



