<router-outlet></router-outlet>
<div
  style="
    background-image: url('../../../assets/header.svg');
    background-position: right;
  "
  class="h-[38rem]"
>

</div>

<button (click)="backToHome()" class="absolute top-0 ml-16 mt-16 w-44">
    <img src="../../../assets/icons8-back-50 (1).png" alt="">
</button>


<div 
class="h-[70vh]">
    <fieldset  class="h-[60rem] bg-slate-100 absolute top-20 ml-32 w-[90rem] border border-slate-300 border-solid "
    >
    <legend class=" ">
        <img class="w-40 ml-10 mt-28 inline" src="../../../assets/{{displayBook.image}}" alt="">
        <span class="text-4xl absolute bottom-[45rem] ml-8 font-bold">{{displayBook.title}}</span>
        <span class="text-2xl absolute bottom-[42rem] ml-8 text-yellow-300 mb-2">{{displayBook.author}}</span>
        <span class=" absolute bottom-[41rem] ml-8 ">{{displayBook.category}}</span>
    
    </legend>
    
    <div class="text-start p-10">
        <p class="font-semibold mb-4">Description</p>
        <p class="h-full">
            {{displayBook.description}}
        </p>
    </div>
    
    </fieldset>
</div>


