<div
  style="
    background-image: url('../../../assets/Image\ Hero\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: right;
  "
  class="h-[38rem]"
>
  <p class="text-4xl ml-48 mt-8 inline-block">MYBOOK</p>

  <a
    (click)="homeClick()"
    class="ml-[50rem] font-bold text-white hover:opacity-80"
  >


    Home
  </a>
  <a
    (click)="BookClick()"
    class="ml-10 font-bold text-white hover:opacity-80"
  >
    Book
  </a>

  <button
  (click)="LogoutClick()"
  class="bg-white ml-40 h-12 w-32 rounded-md text-2xl font-semibold"
>
  {{ !isLogin ? 'Log In' : 'Log Out' }}
</button>

<!-- <button
  *ngIf="isLogin; else logoutButton"
  (click)="LogoutClick()"
  class="bg-white ml-40 h-12 w-32 rounded-md text-2xl font-semibold"
>
  Log Out
</button>

<ng-template #logoutButton>
  <button
    (click)="LogoutClick()"
    class="bg-white ml-40 h-12 w-32 rounded-md text-2xl font-semibold"
  >
  Log In
  </button>
</ng-template> -->



  <img
    class="inline-bloc ml-48 mt-20"
    src="../../../assets/book/Headline (1).png"
    alt=""
  />
</div>

<div class="m-32">
  <p class="text-4xl font-bold absolute right-96 mr-80 mt-10 mb-10">This new story</p>

  <div
    class="grid grid-cols-2 justify-items-center items-center border border-slate-300 pt-20 "
  >
  <!-- card book -->
    <div *ngFor="let book of books ; let i=index"
    class="col-span-1 m-auto p-10  bg-white hover:opacity-80 ">
      <a
        class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl "
      >
        <img
          class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
          src="../../../assets/{{book.image}}"
          alt=""
        />

        <div class="flex flex-col justify-between p-4 leading-normal  ">

          <p
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 line-clamp-1"
          >
          {{book.title}}
          </p>
          <p class="font-semibold text-yellow-500"> {{book.author}}
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 line-clamp-4">
            {{book.description}}

          </p>

          <div class="flex justify-between">
            <button (click)="getBookById(book.id)"
              class="border border-yellow-400 text-yellow-400 px-5 py-3 rounded-md font-semibold hover:bg-yellow-400 hover:text-white"
            >
              View
            </button>
            <button (click)="sendingRemainingBook(book)"
              class="border border-blue-400 text-blue-400 px-5 py-3 rounded-md font-semibold hover:bg-blue-400 hover:text-white"
            >
              Edit  
            </button>
            <button (click)="deleteBookClick(book.id,i)"
              class="border border-red-400 text-red-400 px-5 py-3 rounded-md font-semibold hover:bg-red-400 hover:text-white"
            >
              Delete
            </button>
          </div>
        </div>
      </a>
    </div>

  


  </div>
</div>

<app-popup-modal (dataEmitter)="receiveData($event)"  *ngIf="showModal"></app-popup-modal>



