
  <div 
  class="fixed inset-0 flex items-center justify-center z-50">
     <div class="bg-white p-8 rounded-lg shadow-lg">
       <h2 class="text-lg font-semibold mb-4">Update Book</h2>
       <!-- <p class="text-gray-600">Please fill in what you want to change.</p> -->

                    <form [formGroup]="bookForm"  (ngSubmit)="setUpdatedBook()">
                        <label class="mt-2" for="">Title</label> <br>
                        <input formControlName="title" class="p-2 w-72 border border-slate-400 rounded-lg " type="text"> <br>
                    
                        <label class="mt-2" for="">Author</label> <br>
                        <input formControlName="author" class="p-2 w-72 border border-slate-400 rounded-lg " type="text"><br>
                 
                        <label class="mt-2" for="">Description</label> <br>
                        <input formControlName="description" class="p-2 w-72 border border-slate-400 rounded-lg " type="text">

                        <div class="mt-6 flex justify-end space-x-4">

                            <button (click)="sendDataToParent()"
                              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 ml-10"
                              (click)="closeModal()"
                            >
                              Cancel
                            </button>
                   
                   
                            <button (click)="updateBook()"
                            class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 mr-96"
                           
                          >
                            Update
                          </button>
                          </div>

                    </form>
                    

    
     </div>
   </div>