



<div
  class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5 "
>
  <div
    class="bg-gray-100 text-white rounded-3xl shadow-xl w-full "
    style="max-width: 1200px "
  >
    <div class="md:flex w-full h-128 ">



      <div class="   w-4/5 bg-blue-950 py-10 px-10 h-full ">

        <p class="text-white text-2xl ml-6">MYBOOK</p>

        <img
          class="ml-60 mt-24 w-44"
          src="../../../assets/login/astronaut.svg"
          alt=""
        />

        <p class="text-white text-center text-2xl">
          Welcome MYBOOK <br />
          <span class="text-sm"> 
                     There is no friend as loyal as book.
        </span>
        </p>
      </div>

      <!-- sfafsafasf -->
      <div class="w-1/3 md:w-1/2 py-10 px-5 md:px-10">

          <form [formGroup]="formGroup">
            <div class="mt-20">
              <img class="w-60 ml-20 pr-2 mb-1" src="../../../assets/login/book.svg" alt="">
              <p class="text-center text-5xl text-gray-700 mb-16">WELCOME</p>
              <div class="w-full px-3 h- relative">
                      <img class="absolute mt-2 ml-2" src="../../../assets/login/mail.svg" alt="">
                  <input 
                

                  formControlName="email"
                    type="email"
                    class="w-full pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-black"
                    [ngClass]="{
                      'border-gray-200': (!formGroup.get('email')?.touched || !formGroup.get('email')?.errors?.['required']) && (!formGroup.get('email')?.dirty || !formGroup.get('email')?.errors?.['pattern']),
                      'border-red-500': (formGroup.get('email')?.touched && formGroup.get('email')?.errors?.['required']) || (formGroup.get('email')?.dirty && formGroup.get('email')?.errors?.['pattern'])
                    }"
                    placeholder="Email"
                  />

                    <p class="text-red-500 border "
                      *ngIf="
                      formGroup.get('email')?.touched &&
                      formGroup.get('email')?.errors?.['required']
                    "
                    >
                      Email is required.
                    </p>
            
                    <p class="text-red-500"
                      *ngIf="
                      formGroup.get('email')?.dirty &&
                      formGroup.get('email')?.errors?.['pattern']
                    "
                    >
                      The email is invalid.
                    </p>

            </div>
  
              <div class="w-full  px-3 mb-4 relative">
                >
                  <img class="absolute py-2 ml-2" src="../../../assets/login/lock.svg" alt="">

                  <button   class="absolute right-6 mt-8 "
                  (click)="togglePasswordVisibility()"
                >
                    <img class=" " src="../../../assets//login/eye.svg" alt="">

                </button>

                  <input 
                  type="{{ showPassword ? 'text' : 'password' }}"
                  formControlName="password"
                    type="password"
                    class="w-full  pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500 text-black"
                    [ngClass]="{
                      'border-gray-200': !formGroup.get('password')?.dirty || !formGroup.get('password')?.errors?.['pattern'],
                      'border-red-500': formGroup.get('password')?.dirty && formGroup.get('password')?.errors?.['pattern']
                    }"

                    placeholder="Password"
                  />

                  <p class="text-red-500 border "
                  *ngIf="
                  formGroup.get('password')?.dirty &&
                  formGroup.get('password')?.errors?.['pattern']
                "
                >
                Minimum eight characters, at least one upper case English letter, one lower case English letter, one number and one special character


                
  
            </div>
            <div class="w-full  px-3 ">
  
              <button (click)="onLogin()"
                  class="w-full  pl-10 pr-3  border-2 bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-3xl px-3 py-3 font-semibold"
                >
                  Log In
                </button>
              </div>
          </div>
          </form>

       



      </div>
    </div>



  </div>
</div>

